[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqsdk = "*"
pyyaml = "*"
pymongo = "*"
pytz = "*"

[dev-packages]
pytest = "*"
xlwings = "*"

[requires]
python_version = "3.9"
